.mainWindow {
  --dark-bg-color: #1c1719;
  --dark-pink: #ac396d;
  --dark-pink-disabled: rgb(122, 86, 103);
  --pink-hover: rgb(255, 102, 171);
  --search-background: #46383e;
  --panel-dark: #2a2327;
  --panel-light: #392e33;
}

.settingsWindow {
  --disabled-button: #3c3947;
}

.scrollbar {
  --color-1: rgb(45, 45, 68);
  
}

.scorecard {
  --card-background: #392E33;
  --unweighted-pp: #FF67AA;
  --inner-card: #46393f;
  --yellow: #FECC20;
  --blue: #0074FE;
  --green: #88DA20;
}